.box{
    background-color: white;
}
.gridLayout{
    display: flex;
    flex-direction: row;  
    align-items: flex-start;
    .gridLeft{
        flex:1
    }
    .gridRight{
        width:480px;
        padding:20px 20px 0px 0px;
        margin-bottom: 20px;
    }
}

.logsBox{
    padding:0px 20px;
}

